.wp-block-tech-stack-skill-logo {
	display: flex;
	padding: 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	gap: var( --skill-logo-gap, 0.5rem );
}

.wp-block-tech-stack-skill-logo .skill-logo__sprite {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}

.wp-block-tech-stack-skill-logo .skill-logo__icon {
	width: var( --skill-logo-size, 4.5rem );
	height: var( --skill-logo-size, 4.5rem );
}

.skill-logo__sprite-sheet {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}
